<div class="row">
    [: if not (or .APIs .NavigationGuides) :]
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main">
    [: else :]
    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
        [: template "fragments/sidenav" . :]
    </div>
    <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8 main">
    [: end :]
        [: yield :]
    </div>
</div>
